# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
plugs/py/perface/
plugs/py/test/
node_modules/
plugs/py/upload/
.pyc
.scrapy
.spyderproject

.ropeproject
.idea
upload/
public/