<%- include('./public/header') -%>
<div class="row">
    <div class="col-xs-9 game" id="content">
    </div>
    <div class="col-xs-3">
        <%- include('./public/leftmenu') -%>
    </div>
</div>
<script>
    loadCon('list');
</script>
<%- include('./public/footer') -%>