<%- include('./public/header') -%>

<div class="row">
    <div class="col-xs-9" id="content">
        <%- include(content) -%>
    </div>
    <div class="col-xs-3">
        <%- include('./indexfold/indexmenu') -%>
    </div>
</div>
<%- include('./public/footer') -%>