<script charset="utf-8" src="/plug/kindeditor-min.js"></script>
<script charset="utf-8" src="/plug/lang/zh_CN.js"></script>
<script>
    initExdit();
    initUpload();
</script>
<form method="post" action="/user/article/add">
    <div class="form-inline">
        <label>标题</label>
        <input type="text" class="form-control" placeholder="标题" name="title">
    </div>
    <div class="form-inline">
        <label>附件</label>
        <input  class="form-control url3" disabled="disabled" type="text" value="" />
        <input value="选择" type="button" class="form-control" id="image3" />
        <input type="hidden" class="url3" name="attament">
    </div>
    <div class="form-inline">
        <label>标签</label>
        <input type="text" class="form-control" placeholder="标签逗号（，）分隔" name="label">
    </div>
    <div class="form-inline">
        <label>分类</label>
        <select class="form-control" name="cate">
            <%for(var i = 0;i<cates.length;i++){%>
            <option value="<%=cates[i]._id%>"><%=cates[i].name%></option>
            <%}%>
        </select>
    </div>
    <textarea name="content" class="col-xs-12" style="visibility:hidden;"></textarea>
    <div class="form-group">
        <div class="col-sm-offset-9 col-sm-3">
            <input type="submit" class="btn btn-default" value="提交"></input>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 70px;">
        <div class="panel-heading">seo关键词</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-inline">
                    <label class="col-xs-2">keyword</label>
                    <input type="text" class="form-control" placeholder="keyword" name="title">
                </div>
                <div class="form-inline">
                    <label class="col-xs-2 ">描述</label>
                    <input type="text" class="form-control" placeholder="描述">
                </div>
            </div>
        </div>
    </div>
</form>