<%- include('../public/header') -%>
<div class="row">
    <div class="col-xs-3">
        <%- include('../public/leftmenu') -%>
    </div>
    <div class="col-xs-9">

    </div>
</div>
<%- include('../public/footer') -%>