<%- include('../public/header') -%>
<div class="row">
    <div class="col-xs-9" id="content">

    </div>
    <div class="col-xs-3">
        <%- include('../public/usermenu') -%>
    </div>

</div>
<script>
    loadCon();
</script>
<%- include('../public/footer') -%>