<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
    <ul class="nav ds-sidenav">
        <li>
            <label style="color: red">用红色标记关键部分</label>
            <a href="#dropdowns" id="getall">提取全部类似内容</a>
        </li>
    </ul>
    <a class="back-to-top" href="#top">
        返回顶部
    </a>
</div>