<!DOCTYPE html>
<html>
<head>
 <title><%=title%></title>
 <link rel="stylesheet" href="/css/bootstrap.css">
 <link rel="stylesheet" href="/plug/themes/default/default.css" />
 <link rel="stylesheet" href="/css/style.css">
 <script src="/js/jquery-3.1.1.min.js"></script>
 <script src="/js/bootstrap.js"></script>

 <script src="/js/ds.js"></script>

</head>
<body>
<div class="container">
    <%- include('./menu') -%>


