
<div class="modal-dialog" role="document" id="alertpanel">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">这是什么？</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-body2">
            <a class="btn" role="button" data-toggle="collapse" href="#commentpanel" aria-expanded="false" aria-controls="commentpanel">
                <i class="icon-leaf"></i>
            </a>
            <div class="collapse" id="commentpanel">
                <div class="well">
                    <textarea class="form-control" rows="3" id="commentcon"></textarea>
                    <button type="button" id="commentsubmit" class="btn btn-link col-lg-offset-11"><i class="icon-cloud-upload"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div>
<div id="tempdir" style="display: none"></div>
</div>
<!--&#45;&#45;class container-->

</body>
</html>