<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
    <ul class="nav ds-sidenav">
        <li>
            <a href="#dropdowns">下拉菜单</a>
            <ul class="nav">
                <li><a href="#dropdowns-example">实例</a></li>
                <li><a href="#dropdowns-alignment">对其</a></li>
                <li><a href="#dropdowns-headers">标题</a></li>
                <li><a href="#dropdowns-divider">分割线</a></li>
                <li><a href="#dropdowns-disabled">禁用的菜单项</a></li>
            </ul>
        </li>

    </ul>
    <a class="back-to-top" href="#top">
        返回顶部
    </a>
</div>