
    <meta name="viewport" content="width=320, initial-scale=1"/>
    <title>streaming</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/soundhttp.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>