<!DOCTYPE html>
<html>
<head>
    <%-include("./header")-%>
</head>
<body>
<a href="/stream/cam">主播方</a>
<a href="/stream/getcam">收听方</a>
<a href="/stream/audios">音频测试发送</a>
<a href="/stream/audior">音频测试接受</a>
</body>
</html>
