
<%- include('../public/header') -%>
<div class="row">
    <div class="col-xs-9" >
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="well text-center" id="drag">
                    <div class="btn">
                        <div>拖动到这里</div>
                        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
                    </div>
                    <div id="info"></div>
                </div>
                <input type="submit" id="dsimg" class="btn btn-danger center-block" value="搜索">
            </div>
            <input type="file" id="selfile" style="display: none" accept="image/*">
        </div>
        <div id="content">
            <div class="row" id="temp" data-page='1' data-pid=<%=pid%>>
                <%- include('classfyitem') -%>
            </div>
            <%if(list.length>12){%>
            <button type="button" id="moreid" class="btn btn-danger btn-lg btn-block" data-page="1">more</button>
            <%}%>
        </div>
        <script>
            drag()
            $('#temp').imgflash(function (mas) {
                clickmore('/index/classfypage',mas)
            });
        </script>
    </div>
    <div class="col-xs-3">

    </div>
</div>
<%- include('../public/footer') -%>