
<%- include('../public/header') -%>
<div class="row">
    <div class="col-xs-9" >
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="well text-center" id="drag">
                    <div class="btn">
                        <div>拖动到这里</div>
                        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
                    </div>
                    <div id="info"></div>
                </div>
                <input type="submit" id="dsimg" class="btn btn-danger center-block" value="搜索">
            </div>
            <input type="file" id="selfile" style="display: none" accept="image/*">
        </div>
        <div id="content">
            <div class="row" id="temp">
                <% for(var i = 0;i<list.length;i++){%>
                <div class="col-xs-6 col-md-3">
                    <a href="index/classfy?id=<%=list[i].name%>" class="thumbnail">
                        <img  alt="100%x180" src="/<%=list[i].loc%>"  data-holder-rendered="true">
                    </a>
                </div>
                <%}%>
            </div>
        </div>
        <script>
            drag()
        </script>
    </div>
    <div class="col-xs-3">

    </div>
</div>
<%- include('../public/footer') -%>