<% for(var i = 0;i<list.length;i++){%><div class="col-xs-6 col-md-3 page">
    <a href="classfy?id=<%=list[i].name%>" class="thumbnail">
        <img  alt="来自dsimg" src="/<%=list[i].loc%>"  data-holder-rendered="true">
    </a>
</div><%}%>

