<div class="row" id="temp">
    <%- include('classpage') -%>
</div>
<button type="button" id="moreid" class="btn btn-danger btn-lg btn-block" data-page="<%=curp%>>">more</button>
<script>
    $('#temp').imgflash(function (mas) {
        clickmore('/index/classpage',mas)
    });
</script>






