<% for(var i = 0;i<list.length;i++){%>
<div class="col-xs-6 col-md-3">
    <a href="/index/classfy?id=<%=list[i].name%>" class="thumbnail">
        <img  alt="100%x180" src="/<%=list[i].loc%>"  data-holder-rendered="true">
    </a>
</div>
<%}%>