<%- include('../public/header') -%>
<div class="row">
    <div class="col-xs-9" >
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="well text-center" id="drag">
                    <div class="btn">
                        <div>拖动到这里</div>
                        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
                    </div>
                    <div id="info"></div>
                </div>
                <input type="submit" id="dsimg" class="btn btn-danger center-block" value="搜索">
            </div>
            <input type="file" id="selfile" style="display: none" accept="image/*">
        </div>
        <ol class="breadcrumb">
            <a href="/index/class" class="">更多分类 <span class="badge">42</span></a>
            <a href="/index/page" class="pull-right">更多图片 <span class="badge">42</span></a>
        </ol>

        <div id="content">

        </div>
    </div>
    <div class="col-xs-3">

    </div>
</div>
<script>
    drag()
    loadCon('index/random');
</script>
<%- include('../public/footer') -%>