
<div class="row" id="temp">
    <% for(var i = 0;i<list.length;i++){%>
        <div class="col-xs-6 col-md-3">
            <a href="index/classfy?id=<%=list[i].name%>" class="thumbnail">
                <img  alt="æ¥è‡ªdsimg" src="/<%=list[i].loc%>" style="height: 180px; width: 100%; display: block;"  data-holder-rendered="true">
            </a>
        </div>
    <%}%>
</div>
<div id="navpage"></div>
<input type="hidden" id="page" value="<%=curp %>">
<input type="hidden" id="pages" value="<%=allp %>">
<script>
    var cur = $("#page").val();
    var ap = ($("#pages").val())/5
    pagitor("#navpage",cur,ap)
</script>






