<%- include('../public/header') -%>
<div class="row">
    <div class="col-xs-9" id="content">

    </div>
    <div class="col-xs-3">

    </div>
</div>
<script>
    loadCon('/index/pagelist');
</script>
<%- include('../public/footer') -%>