
<div class="row" id="temp">
    <% for(var i = 0;i<list.length;i++){%>
    <div class="col-xs-6 col-md-3">
        <a href="index/classfy?id=<%=list[i].name%>" class="thumbnail">
            <img  alt="来自dsimg" src="/<%=list[i].loc%>" style="height: 180px; width: 100%; display: block;"  data-holder-rendered="true">
        </a>
    </div>
    <%}%>
</div>






